.preset-menu {
  color: #bababa;
  font-size: 0.7rem;
}

.preset-submenu-layout {
  background-color: transparent;
  height: 100%;
}

.preset-box {
  width: 80%;
  height: 5.5rem;
  position: relative;
  background-color: #ffffff;
  cursor: pointer;
}

.preset-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 1.3rem;
  font-weight: bold;
}

#preset-first {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('https://ifh.cc/g/6S2MVC.jpg');
  background-size: cover;
}

#preset-second {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('https://ifh.cc/g/CtNg0Q.jpg');
  background-size: cover;
}

.preset-add-button {
  width: 80%;
  height: 2rem;
  background-color: #e2e2e2;
  border-radius: 0.4rem;
  line-height: 2rem;
  font-weight: bold;
  cursor: pointer;
}
